//Main colours
$headCol: #002736;
$outlineCol: rgb(0, 75, 105);
$blockColour: #051e27;
$titleColour: #526eb8;
$bgColour: rgb(0, 0, 0);

//.Colour affects lists
body,
.colour {
  color: white;
  position: relative;
  background-color: $bgColour;
  border-color: $blockColour;
}

p,
li {
  padding: 1%;
  padding-left: 20%;
  padding-right: 20%;
  animation: fade 1s 1;
}

//Project description text
.col-lg {
  animation: fade 1s 1;
}

//Used in skill list
.blue,
i {
  color: $titleColour;
}

%title {
  color: $titleColour;
  text-align: center;
  border-radius: 4px;
  animation: fade 1s 1;
}

h1,
h2 {
  @extend %title;
  background-color: white;
}

//Full stack developer subtitle
.subHeading {
  font-size: 2rem;
  color: rgb(0, 123, 255);
}

//Links
a {
  font-size: 1.5rem;
}
a:hover {
  text-decoration: none;
}
#contactMe a {
  padding: 2rem;
}

//Main panels
#websites,
#games,
#Opening,
.main,
.jumbotron {
  border-radius: 4px;
  /*border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;*/
  display: block;
  background-color: $blockColour;
  margin-left: auto;
  margin-right: auto;
  margin-top: none;
  margin-left: none;
  padding: 0;
}

#Opening {
  background-color: black;
}
.display-4 {
  background-color: black;
}

.row {
  background-color: $blockColour;
  border-radius: 4px;
  padding-top: 1px;
  //Size of project
  //width: 200%;
}

.container-fluid {
  padding: 0;
}

.list-group {
  padding: auto;
}

.list-group-item {
  text-align: center;
}

#websites,
#games {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* Header/Logo Title */
h2 {
  padding: 20px;
  text-align: center;
  background: $headCol;
  font-size: 30px;
}

.projectHeading {
  padding: 1px;
  padding-bottom: 10px;
  padding-top: 0px;
  margin-bottom: none;
  width: 100%;
}

//Buttons for changing images/videos -----------------------------------------
.changePreview {
  width: 32px;
  height: 8px;
  transition-duration: 0.3s;
  background-color: black;
  color: black;
  fill-opacity: 0%;
  border: 2px solid black;
}
.changePreview:hover {
  background-color: white;
  height: 16px;
  color: black;
  opacity: 50%;
  fill-opacity: 50%;
  border: 2px solid black;
}

.changePreviewSelected {
  width: 32px;
  height: 16px;
  transition-duration: 0.3s;
  background-color: white;
  color: black;
  fill-opacity: 0%;
  border: 2px solid black;
}
.nextPreview,
.prevPreview {
  width: 30%;
  height: 100%;
  background-color: rgb(112, 113, 114);
  color: black;
  opacity: 50%;
  border: none;
  position: absolute;
  text-align: center;
}
.nextPreview:hover,
.prevPreview:hover {
  background-color: rgb(51, 51, 51);
}
.nextPreview {
  left: 170%;
}
.prevPreview {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.changePreviewEmpty {
  display: none;
}

//----------------------------------------------------------------------------

//Buttons to other sites or closing -----------------------
.repoLink,
.siteLink {
  background-color: $headCol;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
}

.repoLink {
  padding-right: 18%;
  text-align: center;
}
.siteLink {
  padding-right: 20%;
  text-align: center;
}

.repoLink:hover,
.siteLink:hover {
  background-color: darken($outlineCol, 20%);
  text-decoration: none;
}

.close,
.close:link,
.close:visited {
  background-color: $outlineCol;
  color: white;
  margin: 10px;
  border-radius: 4px;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 2px !important;
}

.close:hover,
.close:active {
  color: white;
  background-color: rgb(206, 133, 133);
  margin: 10px;
}
//----------------------------------------------

//Images ---------------------------------------
img {
  width: 128px;
  height: 128px;
  display: block;

  padding: 2px;
  border: 2px solid $outlineCol;
  background-color: $headCol;
  animation: fade 1s 1;
}

//The images that have project buttons over them
.bigImg {
  width: 256px;
  height: 256px;
}

//Framework image
.framework {
  padding: 32px;
  border: none;
  background-color: transparent;
  width: 128px;
  height: 128px;
}
//--------------------------------------------

//Link at bottom linking to email
#contactMe {
  text-align: center;
}

//Alternative to spamming BR BR BR
.bigSpace {
  width: 200px;
  background: none;
  height: 200px;
  display: inline-block;
}
.smallSpace {
  padding-bottom: 32px;
}

//Project "window"
.divider,
.project {
  position: relative;
  width: 50%;
}

.project {
  margin-left: 25%;
  //transition: opacity 0.5s;
}

//The images shown after you click on a project
.previewImage {
  width: 200%;
  height: auto;
}

/*html {
  scroll-behavior: smooth; //Unused janky smooth scrollbar
}*/

//Grid for the projects
.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 66%;
  margin: auto;
  align-content: space-between;
}

.flex-container > div {
  flex: none;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
  height: 256px;
}

//Buttons to be placed on top of project images
.divider .btn,
.bigBtn {
  position: relative;
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 0px;
  opacity: 0%;
  transition: opacity 0.5s;
}

.btn {
  width: 126px;
  left: 64px;
}

.divider .btn:hover,
.bigBtn:hover {
  background-color: black;
  visibility: visible;
  opacity: 100%;
  transition: opacity 0.5s;
}

.bigBtn {
  bottom: 256px;
  width: 256px;
  height: 256px;
  font-size: 24pt;
}

//Contact me svg links
#contactMe > a > svg {
  width: 5rem;
  height: 5rem;
  fill: currentcolor;
}

/* Scrollbar ----------------------------------------------------------------------------------*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $blockColour;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $outlineCol;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $titleColour;
}
/* Phone screens ----------------------------------------------------------------------------- */

@media screen and (max-width: 480px) {
  #websites,
  #games,
  #Opening,
  .main,
  .jumbotron {
    width: 100%;
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  .display-4 {
    font-size: 2rem;
  }

  //Font size for main fonts
  .lead,
  .col-lg {
    font-size: 1rem;
  }

  .flex-container {
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .divider .btn {
    font-size: 1.5rem;
    height: 100%;
  }

  //Links and close
  a,
  h2 a,
  .close {
    font-size: 2rem;
  }

  //Buttons for image previews
  .changePreview {
    width: 32px;
    height: 16px;
  }

  .changePreviewSelected,
  .changePreview:hover {
    width: 32px;
    height: 24px;
  }

  //Link buttons
  .siteLink,
  .repoLink {
    text-align: center;
    font-size: 2rem;
  }

  //Email
  #contactMe > a {
    font-size: 1rem;
  }
  #contactMe > a > svg {
    width: 3rem;
    height: 3rem;
    fill: currentcolor;
  }

  //Size of a project window
  .row {
    width: 200%;
  }

  .project {
    margin-left: 7.5%;
  }

  //Bottom framework images
  .col-sm-1 {
    max-width: none;
  }

  .smallSpace {
    padding-bottom: 32px;
  }
}

@media (max-width: 382px) {
  .bigSpace-MobileOnly {
    height: 150px;
  }
}

//Tablets and mobile phones
@media (max-width: 768px) {
  .flex-container {
    width: 100%;
  }

  .bigImg {
    width: 128px;
    height: 128px;
  }

  .bigBtn {
    font-size: 1rem;
    width: 128px;
    height: 128px;
    bottom: 128px;
  }
}

//Fade animation -------------------------------------------------------
@keyframes fade {
  0% {
    opacity: 0;
    //transform: translate(2px, 2px);
  }

  100% {
    opacity: 1;
    //transform: translate(0, 0);
  }
}
.fade {
  opacity: 0;
}

/*Unused rotating box
.rotatingBox {
  width: 20rem;
  height: 20rem;
  background-color: rgba(7, 21, 36, 0.473);
  animation: square infinite 30s;
  position: absolute;
  left: 40%;
  top: 0;
}

@keyframes square {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}*/
