//Main colours
$headCol: rgb(0, 39, 54);
$outlineCol: rgb(0, 75, 105);
$blockColour: rgb(26, 34, 37);
$titleColour: #526eb8;
$bgColour: rgb(0, 0, 0);

body,
.colour {
  color: white;
  position: relative;
  background-color: $bgColour;
  border-color: $blockColour;
}

@import "body.scss";

p {
  padding: 1%;
}

.blue,
i {
  color: $titleColour;
}

%title {
  color: $titleColour;
  text-align: center;
  border-radius: 4px;
}

h1,
h2 {
  @extend %title;
}

ol,
tr {
  background-color: $blockColour;
  border-radius: 4px;
  color: rgb(136, 137, 141);
}

table {
  //max-width: 200%;
  border-radius: 4px;
  //width:150%;
  display: block;
  color: $titleColour;
  padding: 10px;
  padding-top: 0px;
  //padding-right: 50%;
  overflow-x: auto;
}

//Main panels
#websites,
#games,
#Opening,
.main,
.jumbotron {
  width: 60%;
  border-radius: 4px;
  display: block;
  background-color: $blockColour;
  margin-left: auto;
  margin-right: auto;
  margin-top: none;
  margin-left: none;
  padding: 0;
}

.row {
  background-color: $blockColour;
  width: 150%;
  border-radius: 4px;
  padding-top: 16px;
}

/* Header/Logo Title */
h2 {
  padding: 60px;
  text-align: center;
  background: $headCol;
  font-size: 30px;
}

//Buttons for changing images/videos -----------------------------------------
.changePreview {
  width: 32px;
  height: 4px;
  transition-duration: 0.3s;
  background-color: black;
  color: black;
  fill-opacity: 0%;
  border: 2px solid black;
}
.changePreview:hover {
  background-color: white;
  color: black;
  opacity: 50%;
  fill-opacity: 50%;
  border: 2px solid black;
}

.changePreviewSelected,
.nextPreview,
.prevPreview {
  width: 32px;
  height: 4px;
  transition-duration: 0.3s;
  background-color: white;
  color: black;
  fill-opacity: 0%;
  border: 2px solid black;
}
.nextPreview,
.prevPreview {
  background-color: $outlineCol;
  color: rgb(0, 123, 255);
  border: none;
}
.nextPreview:hover,
.prevPreview:hover {
  background-color: $headCol;
}
.nextPreview {
  width: 0;
  height: 0;
  border-top: 32px solid $headCol;
  border-bottom: 32px solid $headCol;

  border-left: 32px solid $blockColour;
}
.prevPreview {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.changePreviewEmpty {
  display: none;
}

//----------------------------------------------------------------------------

//Buttons to other sites or closing -----------------------
.repoLink,
.siteLink {
  background-color: $outlineCol;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
}

.repoLink:hover,
.siteLink:hover {
  background-color: $headCol;
  text-decoration: none;
}

.close,
.close:link,
.close:visited {
  background-color: $outlineCol;
  color: white;
  margin: 10px;
}

.close:hover,
.close:active {
  color: red;
  margin: 10px;
}
//----------------------------------------------

//Images ---------------------------------------
img {
  width: 128px;
  height: 128px;
  display: block;

  padding: 2px;
  border: 2px solid $outlineCol;
  background-color: $headCol;
}

.bigImg {
  width: 256px;
  height: 256px;
}

.framework {
  float: right;
  padding: none;
  border: none;
  background-color: transparent;
}
//--------------------------------------------

//Link at bottom linking to email
#contactMe {
  text-align: center;
  font-size: 24px;
  display: block;
}

//Alternative to spamming BR BR BR
.BigSpace {
  width: 200px;
  background: none;
  height: 200px;
  display: inline-block;
}

/* divider needed to position the button. Adjust the width as needed */
.divider {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.previewImage {
  width: 200%;
  height: auto;
}

/*html
{
	scroll-behavior: smooth; //Unused janky smooth scrollbar
}*/

/* Style the button and place it in the middle of the divider/image */
.divider .btn,
.bigBtn {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 150%;
  height: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 0px;
  opacity: 0%;
  transition: opacity 0.5s;
}

.divider .btn:hover,
.bigBtn:hover {
  background-color: black;
  visibility: visible;
  opacity: 100%;
  transition: opacity 0.5s;
}

.bigBtn {
  left: 109%;
  width: 200%;
}

/* Scrollbar ----------------------------------------------------------------------------------*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $blockColour;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $outlineCol;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $titleColour;
}
/* ---------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 768px) {
  #websites,
  #games,
  #Opening,
  .main,
  .jumbotron {
    width: 90%;
  }

  .row {
    width: 200%;
  }
}
